.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.blog ul{
    margin:0;
    padding:0;
    list-style: none;
}
.blog li{
    display: inline-block;
    margin: 20px;
}
.blog li a{
    text-decoration: none;
}
.blog li a:hover,
.blog li a:active,
.active {
    color: brown;
}
