.new-post{
    border: 1px solid gray;
    margin: 0 2rem;
    padding:0.7rem;
    flex:1;
    display: flex;
    flex-flow: column nowrap;   
}
.row{
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem 0;
}
.row input, 
.row select,
.row button{
    flex:2;
}
.row label{
    flex:1;
}
button {
    padding: 0.2rem;
    width: 5rem;
    align-self: center;
}